<footer class="text-muted">
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <h6>Copyright &copy; 2017 Pette</h6>
      </div>

      <div class="col-sm-4">
        <h6>Om</h6>
        <p>
          Grym sida om allt möjligt i detta liv
        </p>
      </div>

      <div class="col-sm-2">
        <h6>Navigation</h6>
        <ul class="list-unstyled">
          <li><a href="">Home</a></li>
          <li><a href="">Servicese</a></li>
          <li><a href="">Links</a></li>
          <li><a href="">Contact</a></li>
        </ul>
      </div>

      <div class="col-sm-2">
        <h6>Follow us</h6>
        <ul class="list-unstyled">
          <li><a href="">Twitter</a></li>
          <li><a href="">Facebook</a></li>
          <li><a href="">Instagram</a></li>
        </ul>
      </div>

      <div class="col-sm-2">

      </div>
    </div>
  </div>
</footer>
