<div *ngIf="items?.length > 0; else noItems">
  <!--<ul *ngFor="let item of items" class="collection">
    <li class="collection-item"><strong>{{item.title}}: </strong> {{item.description}} <a class="secondary-content">
      <i (click)="editItem($event, item)" class="fa fa-pencil"></i>
      <i *ngIf="editState && itemToEdit.id == item.id" (click)="clearState()" class="fa fa-compress"></i>
    </a>
      <div *ngIf="editState && itemToEdit.id == item.id">
        <form (ngSubmit)="updateItem(item)">
        <div class="row">
        <div class="input-field col s6">
          <input type="text" placeholder="Add Title" [(ngModel)]="item.title" name="title">
        </div>
        <div class="input-field col s6">
          <input type="text" placeholder="Add Description" [(ngModel)]="item.description" name="description">
        </div>
        <input type="submit" value="Update Item" class="btn" class="btn orange">
        <button (click)="deleteItem($event, item)" class="btn red">Delete</button>
      </div>
        </form>

      </div>
    </li>
  </ul>-->


  <div class="container-fuild">
  <div class="row">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" *ngFor="let item of items">
        <div class="panel panel-default">
          <div class="panel-body">
            <strong>{{item.title}}</strong> <br /> {{item.description}}<br />
            <div class="btn btn-danger btn-sm btn-remove" (click)="deleteItem($event, item)">
              <i class="glyphicon glyphicon-remove"></i>
            </div>
              <a class="secondary-content">
      <i (click)="editItem($event, item)" class="fa fa-pencil"></i>
      <i *ngIf="editState && itemToEdit.id == item.id" (click)="clearState()" class="fa fa-compress"></i>
    </a>
            </div>
          </div>
    </div>
  </div>
  <button class="btn red">tillbaka</button><button class="btn btn-danger btn-sm btn-remove">Nästa</button>
  </div>
<div *ngIf="(item | async)?.length==1">No records found.</div>
</div>


<ng-template #noItems>
  <hr>
  <app-loading-spinner></app-loading-spinner>
</ng-template>