<div id="myCarousel" class="carousel slide">
<ol class="carousel-indicators">
  <li data-target = "#myCarousel" data-slide-to = "0" class="active"></li>
  <li data-target = "#myCarousel" data-slide-to = "1"></li>
  <li data-target = "#myCarousel" data-slide-to = "2"></li>
</ol>
<div class="carousel-inner">

  <div class="item active">
    <img src="http://hitsandkicksllc.com/communities/6/000/002/025/716//images/12890199.jpg" alt="Beach" class="img-responsive">
  </div>

  <div class="item">
    <img src="http://paragonbjj.net/images/billboards/training_03.jpg" alt="Beach" class="img-responsive">
  </div>

  <div class="item">
    <img src="http://attawaygym.com/communities/9/000/001/778/979//images/10251839.jpg" alt="Beach" class="img-responsive">
  </div>

</div>
<a class="carousel-control left" href="#myCarousel" data-slide="prev"></a>
<span class="icon-prev"></span>
<a class="carousel-control right" href="#myCarousel" data-slide="next"></a>
<span class="icon-next"></span>
</div>
